body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
}
h1, h2 {
    color: #2e8b57;
}
img {
    border-radius: 10px;
    margin: 10px 0;
}
ul {
    list-style-type: square;
    padding: 0;
}
form {
    margin-top: 20px;
}
form input, form textarea, form button {
    display: block;
    margin-top: 5px;
    width: 100%;
    max-width: 300px;
}
